# Project 2
## Step 1: Exploring your data.

##### Load your data in using Pandas and start to explore. Save all of your early exploration code here and include in your final submission.

In [1]:
import pandas as pd
import numpy as np
billboard = pd.read_csv('/Users/rachelgoldstein/Downloads/Datasets/billboard.txt')
billboard.tail()

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
billboard.dtypes[:10]

year                 int64
artist.inverted     object
track               object
time                object
genre               object
date.entered        object
date.peaked         object
x1st.week            int64
x2nd.week          float64
x3rd.week          float64
dtype: object

##### Write a brief description of your data, and any interesting observations you've made thus far.

Billboard Description
 - year (integer; assumed publish year)
 - artist.inverted (object; last name first, if applicable)
 - track (object; name of track)
 - time (object; length of track)
 - genre (object; musical genre)
 - date.entered (object; presumed date that track entered billboard top 100)
 - date.peaked (object; presumed date of highest bilboard top 100 slot)
 - x1st.week (integer)
 - x2nd.week
 - ...         (float; each column holds the billboard top 100 rank of that track, if applicable, else NaN)
 
Observations:
 - Many columns that seem to have straightforward data types do not (eg, date is not a date-type)
 - Many xxx.week columns have empty values, as expected
 - 
 
Cleaning:
 - Remove '.' from column headings
 - Fix week column headings

## Step 2: Clean your data.

##### Do some rudimentary cleaning. Rename any columns that are poorly named, shorten any strings that may be too long, fill in any missing values. Explain your rationale for the way you choose to "impute" the missing data.

In [50]:
colnames = ['year', 'artist_inverted', 'track', 'time', 'genre', 'date_entered', 'date_peaked']
weeknames = range(1,77)   #["week_"+str(i) for i in range(1,77)]
colnames_all = colnames+weeknames

billboard.columns = colnames_all
billboard.tail()

,year,artist_inverted,track,time,genre,date_entered,date_peaked,1,2,3,...,67,68,69,70,71,72,73,74,75,76
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Using Pandas' built in `melt` function, pivot the weekly ranking data to be long rather than wide. As a result, you will have removed the 72 'week' columns and replace it with two: Week and Ranking. There will now be multiple entries for each song, one for each week on the Billboard rankings.

In [65]:
billboard_melt = pd.melt(billboard, id_vars=colnames, var_name='week', value_name='rank')
bb_noNA = billboard_melt[billboard_melt['rank'].notnull()]
bb_noNA.tail()

,year,artist_inverted,track,time,genre,date_entered,date_peaked,week,rank
19663,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,63,45.0
19700,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,63,50.0
19980,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,64,50.0
20017,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,64,50.0
20334,2000,Creed,Higher,5:16,Rock,1999-09-11,2000-07-22,65,49.0

In [68]:
bb_noNA.to_csv(path_or_buf='/Users/rachelgoldstein/Downloads/Datasets/billboard_melted_noNA.txt')

## Step 3: Visualize your data.

##### Using a plotting utility of your choice (Tableau or python modules or both), create visualizations that will provide context to your data. There is no minimum or maximum number of graphs you should generate, but there should be a clear and consistent story being told. Give insights to the distribution, statistics, and relationships of the data.

Graphic 1: No. of Weeks on Chart, by Genre (Boxplots)
This graphic demonstrates the distribution of sustained weeks on the Billboard Top 100 Chart, segmented by genre. For genres with more data we see some interesting observations. Particularly apparent is that: 
- Median weeks on chart between Country and Rock is notably greater than that of Rap and R&B
- However, the Rock genre seems to stand out as the genre with a wider distribution and more sustained chart positions (with high duration)

Graphic 2: Peak Rank, by Genre (Boxplots)
This graphic demonstrates the distribution of peak rank per song on the Billboard Top 100 Chart, segmented by genre. Interesting observations include: 
- Rap and R&B songs that make the Billboard Charts tend to peak at higher ranks than those in other genres
- The Rock genre is the only that yields 

Graphic 3: Distribution of Song Length (Histogram)
The distribution of song length demonstrates length of song for chart-topping tracks. Pretty visual, but nothing interesting to see.  

Graphic 4: Peak Rank vs Weeks on Chart (Scatterplot) 
A scatterplot of weeks-on-chart versus peak rank could demonstrate association between indicators of success for tracks. This scatterplot demonstrated that an alarmingly high number of songs were on the Charts for exactly 20 weeks. This could be evidence of flawed data.

## Step 4: Create a Problem Statement.

##### Having explored the data, come up with a problem statement for this data set. You can feel free to introduce data from any other source to support your problem statement, just be sure to provide a link to the origin of the data. Once again- be creative!

Billboard Chart data is an interesting peek into the tastes that drive the music industry. By exploring Chart data we can develop insights related to winning songs and see which characteristics are most pervasive among top-sellers. By looking at associations, distributions, and segmentation of songs on the charts. 

Understanding of the data allows us to better define markets, and winning song characteristics. Though this dataset is limited in temporal size and characteristics, it is a beginning to developing a data driven understanding of chart-topping tracks.

## Step 5: Brainstorm your Approach.
##### In bullet-list form, provide a proposed approach for evaluating your problem statement. This can be somewhat high-level, but start to think about ways you can massage the data for maximum efficacy.

When evaluating the problem statement...
 - Check distributions
 - Segment by interesting categorical data
 - Observe associations via scatterplots

## Step 6: Create a blog post with your code snippets and visualizations.
##### Data Science is a growing field, and the Tech industry thrives off of collaboration and sharing of knowledge. Blogging is a powerful means for pushing the needle forward in our field. Using your blogging platform of choice, create a post describing each of the 5 steps above. Rather than writing a procedural text, imagine you're describing the data, visualizations, and conclusions you've arrived at to your peers. Aim for a minimum of 500 words.

The entertainment industry is steadily becoming more sophisticated in its use of data to drive success. As described on numerous industry blog posts, the A&R functions now look to social media trends (1), 'big' data analytics (2), and data-driven brand management (3). A critical piece in data-driven music industry movement is a retrospective look at success in the music industry. 

By analyzing datasets such as the tracks on the Billboard Top 100, industry leaders can have a clear understanding of relative market size, segmentation, and characteristics of successful music. Though the dataset in question only contains information for the year 2000, the methods used can be extended to use the exact same analyses to look for trends that may exist over the year. 

A good starting point in exploratory data analysis exercise, is to take a quantitative variable of interest and observe its distribution by segment. In the figure below we can see the distribution of number of weeks on the Billboard Charts, segmented by genre. This illustration demonstrated that the "typical" song (as judged by mean or median weeks) stays on the charts between 15 and 20 weeks. Of the better represented genres, Rock and Country tracks tend to maintain chart position for longer than Rap and R&B tracks. Otherwise, these distributions are as-expected. The right-skew that we observe is characteristic for variables with a natural lower-bound cutoff (e.g., no track can be on the charts for a negative number of weeks). 

<img src="weeks_on_chart.png">

We can compare our observations to the second chart, below, which similarly shows distribution by genre, but for ^peak^ rank. Again we observe the expected slight right skew, because peak rank is bounded by chart ranks of 1 and 100, and the metric is biased toward the lowest possible rank for each instance. As we might have guessed from inspecting the previous figure, the Rock category seems to best dominate the charts, followed by country, and then by the similarly-performing Rap and R&B categories. 

An interesting observation from peak rank is that "winning" tracks do not all necessarily shoot to the top of the charts. In fact, it seems just as likely for a popular song to enter the Billboard charts nad peak at a relatively unremarkable rank as it is for one to shoot to the top quartile. This is an interesting observation in light of winner-take-all notions of business, because it demonstrates that a top track is not characteristically the same as "the" top track. Otherwise said, not all of the popular songs spend time at the top of the list. 

<img src="peak_rank.png">

An interesting next step would be to explore the business drivers of success in the music industry. It would be great to use the data as a first step to exploring the business decisions that affect Billboard Chart success. This information could be enormously useful. 

On that note, perhaps theres a link between entering the charts and climbing the charts. We can explore this idea by looking at a scatterplot that plots Peak Rank and Weeks on Chart. The scaterplot below shows this relationship. 

<img src="scatter.png">

Inspection yields a pretty strong relationship between the two metrics of success. The tracks with the better (lower) peak rank tend to have longer duration on the Billboard charts. This information is unsurprising but important. An interesting figment of this plot is that there are an alarmingly large number of tracks with exactly 20 weeks on the Billboard Charts. As a next step, I would certainly explore why this occurred. It's a sign of a possible flaw in our data. 

Finally, in exploratory data analysis it's important to not only report interesting findings, but also interesting questions that happened to not yield interesting results. This allows our constitutency to explore the idea for themselves without wasting time on the analysis and data work. Below we see a distribution of track length (colored by genre). This histogram is unsurprising. There are no obvious or important differences between genre and track length, and the observed gaussian distribution is unsurprising as well. 

<img src="track_len.png">

The music industry has the potential to be important consumers of information, and use this information to drive good business practices. The danger, is in the tension of artistic freedom and A&R direction for music. While it's nice to be data driven in business, the industry decision-makers must be vigilant to insights in the right way, so as not to dilute the music that makes it to market. 


 (1) https://tuneteams.com/blog/data-based-ar-and-tuneteams-new-social-stats/  
 (2) http://www.completemusicupdate.com/article/musictank-to-put-focus-on-big-data-and-ar/  
 (3) http://www.thembj.org/2015/03/ar-in-a-digital-age/

## BONUS: 
The Content Managers working for the Podcast Publishing Company have recognized you as a thought leader in your field. They've asked you to pen a white paper (minimum 500 words) on the subject of 'What It Means To Have Clean Data'. This will be an opinion piece read by a wide audience, so be sure to back up your statements with real world examples or scenarios.

##### Hint: To get started, look around on the internet for articles, blog posts, papers, youtube videos, podcasts, reddit discussions, anything that will help you understand the challenges and implications of dealing with big data. This should be a personal reflection on everything you've learned this week, and the learning goals that have been set out for you going forward.